@font-face {
    font-family: Norse;
    src: url(fonts/fd1ad3a0f95210975d2f5607501020b5.eot);
    src: url(fonts/fd1ad3a0f95210975d2f5607501020b5.svg);
    src: url(fonts/fd1ad3a0f95210975d2f5607501020b5.ttf);
    src: url(fonts/fd1ad3a0f95210975d2f5607501020b5.woff);
    src: url(fonts/fd1ad3a0f95210975d2f5607501020b5.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}
label, input{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
input{
    font-size: 15px;
    height: 35px;
    border-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}
input:focus {
        outline: none;
        border: 2px solid rgba(53, 53, 255, 0.7);
        box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
}

input:required{
    background-color: rgba(255, 0, 0, 0.09);
    outline: none;
    border: 2px solid rgba(255, 0, 0, 0.37);
}

label {
    font-weight: bolder;
}
#container {
    display: flex;
}

.emph {
    font-style: italic;
}

.pageContainer {
    background-color: black;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.mainContainer {
    height: 100%;
    width: 90%;
    background-color: rgb(238, 238, 238);
}

.subContainer {
    background-image: url(images/photo-1585202900225-6d3ac20a6962.avif);
    height: 100%;
    width: 45%;
    background-repeat: no-repeat;
    background-size: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logobox {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-top: 35%;
    justify-content: center;
    align-items: center;
}

.logoText {
    font-size: 100px;
    color: white;
    font-family: Norse;
}

.logoImage {
    background-image: url(images/odin-lined.png);
    height: 8rem;
    width: 7rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.ref {
    color: white;
    font-size: smaller;
    padding: 10px;
    margin-top: 85%;
}

.subContainerL {
    flex-direction: column;
    height: 100%;
}

.sloganContainer {
    height: 45%;
    justify-content: center;
    flex-direction: column;
}

.slogan {
    padding: 15px;
    margin: 5px;
    font-size: x-large;
    font-weight: bold;
    padding-right: 30%;
    color: rgb(20, 19, 43, 0.95);
}

.formContainer {
    background-color: white;
    height: 35%;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
}

.mainForm {
    display: flex;   
}

.text {
    background-color: white;
    font-weight: bolder;
    padding-bottom: 15px;
    padding-left: 25px;
    font-size: 24px;
    
}

.formR {
    padding-left: 30px;
}

.submitContainer {
    height: 20%;
}