@font-face {
    font-family: Norse;
    src: url(fonts/fd1ad3a0f95210975d2f5607501020b5.eot);
    src: url(fonts/fd1ad3a0f95210975d2f5607501020b5.svg);
    src: url(fonts/fd1ad3a0f95210975d2f5607501020b5.ttf);
    src: url(fonts/fd1ad3a0f95210975d2f5607501020b5.woff);
    src: url(fonts/fd1ad3a0f95210975d2f5607501020b5.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}

#container{
    display: flex;
}

.pageContainer {
    background-color: black;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.mainContainer {
    height: 100%;
    width: 80%;
    background-color: rgb(228, 228, 228);
}

 .subContainer {
    background-image: url(images/photo-1585202900225-6d3ac20a6962.avif);
    height: 100%;
    width: 38%;
    background-repeat: no-repeat;
    background-size: auto;
    flex-direction: column;
    align-items: center;
}
.logobox {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-top: 35%;
    justify-content: center;
}

.logoText {
    font-size: 100px;
    color: white;
    font-family: Norse;
}

.logoImage {
    background-image: url(images/odin-lined.png);
    height: 90px;
    width: 90px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.ref {
 color: white;
 font-size: smaller;
 padding: 10px;
 margin-top: 85%;
}
.subContainerL {

}